
<div class="container">
<div class="row-fluid">
<div class="page-header">
    <h1>Archaic Smiles: <small>The Art of Holly Morningstar</small></h1>
</div>
<%= render :partial => "partials/art_carousel", :locals => { :artworks => @artworks } %>
<p></p>
</div>
</div>
