
<h1><%= @artwork.title -%></h1>

<div>
  <div id='photopaper-prints'>
    <% @artwork.prints.photopapers.each do |photopaper| -%>
    <% end -%>
  </div>
</div>

<div>
  <div id='canvas-prints'>
    <% @artwork.prints.canvas.each do |canvas| -%>
    <% end -%>
  </div>
</div>

<div>
  <div id='original-prints'>
    <% @artwork.original -%>
  </div>
</div>

<%= content_tag :div, :id => 'json-form', :data =>
    { "json-form-url" => new_artwork_print_path(:format => :json), "submit-url" => artwork_prints_path } do -%>
  <form id='print-form'>
  </form>
<% end -%>
