

<div class="tabbable">
    <ul id="print-tabs" class="nav nav-tabs">
        <li class="active art-tab">
            <a href="#artprints" data-toggle="tab" style="margin-right:-3px"><span class="visible-desktop">Art </span>Prints</a>
        </li>
        <li class="art-tab">
            <a href="#canvasprints" data-toggle="tab" style="margin-right:-3px">Canvas <span class="visible-desktop">Prints</span></a>
        </li>
        <li class="art-tab">
            <a href="#original" data-toggle="tab" style="margin-right:-3px">Original</a>
        </li>
    </ul>
    <div class="tab-content" style="padding-bottom:0px;">
        <div class="tab-pane active" id="artprints">
            <div class="content-box">
            <%= render :partial => 'print_form', :locals => { :prints => @artwork.photopapers } -%>
            </div>
        </div>
        <div class="tab-pane" id="canvasprints">
            <div class="content-box"">
            <%= render :partial => 'print_form', :locals => { :prints => @artwork.canvases } -%>
            </div>
        </div>
        <div class="tab-pane" id="original">
            <div class="content-box">
            <%= render :partial => 'print_form', :locals => { :prints => [@artwork.original] } -%>
            </div>
        </div>
    </div>
</div>

