

<div id="new_artwork" class="carousel slide" style="width:500px;height:500px;">
    <div class="carousel-inner">
        <% artworks.each do |artwork| %>
        <div class="<%= 'active' if artwork == artworks[0] -%> item">
            <img alt="" src="<%= artwork.image.url(:carousel) -%>" />
            <div class="carousel-caption">
                <h4><%= artwork.title -%></h4>
                <p>Mini-description</p>
            </div>
        </div>
        <% end %>
    </div>
    <a class="left carousel-control" data-slide="prev" href="#new_artwork">&lsaquo;</a>
    <a class="right carousel-control" data-slide="next" href="#new_artwork">&rsaquo;</a>
</div>

