<footer class="row">
  <div class="large-12 columns">
      <hr />
      <div class="row">
          <div class="large-6 columns copyright">
              <p>&copy; 2002-<%= Date.today.year -%>Holly Morningstar. All rights reserved.</p>
          </div>

          <div class="large-6 columns">
            <div class="right">
              <a href='http://twitter.com/archaicsmiles'><i class='fi-social-twitter'></i></a>
              <a href='https://www.facebook.com/pages/Archaicsmiles/1436457433240554'><i class='fi-social-facebook'></i></a>
              <a href='http://archaicsmiles.tumblr.com'><i class='fi-social-tumblr'></i></a>
              <a href='http://www.pinterest.com/archaicsmiles/'><i class='fi-social-pinterest'></i></a>
              <a href="mailto:archaicsmiles@gmail.com"><i class='fi-mail'></i></a>
            </div>
          </div>
      </div>
  </div>
</footer>



