<div class="container" style="margin-top:1em">
    <small>&copy; 2002-<%= Date.today.year -%> Holly Morningstar. All rights reserved.</small>
    <div class="pull-right">Contact me at <%= mail_to "archaicsmiles@gmail.com", "archaicsmiles@gmail.com" -%></div>
</div>

