<div class="container" style="margin-top:1em">
    <div class="row">
        <div class="span4">
            <small>&copy; 2002-<%= Date.today.year -%> Holly Morningstar. All rights reserved.</small>
        </div>
        <div class="span4">
            <p style="" class="studio-space">Studio 327 at Lowe Mill in Huntsville, AL</p>
        </div>
        <div class="span4">
            <div class="pull-right">Contact me at <%= mail_to "archaicsmiles@gmail.com", "archaicsmiles@gmail.com" -%></div>
        </div>
    </div>
</div>

