<footer class="row">
  <div class="large-12 columns">
      <hr />
      <div class="row">
          <div class="large-6 columns copyright">
              <p>&copy; 2002-<%= Date.today.year -%>Holly Morningstar. All rights reserved.</p>
          </div>

          <div class="large-6 columns">
              Email me at <%= mail_to "archaicsmiles@gmail.com", "archaicsmiles@gmail.com" -%>
          </div>
      </div>
  </div>
</footer>



