 <% if item.errors.any? %>
   <div id="form-error" class='row'>
     <h3><%= item.error_message_title -%></h3>

     <ul>
       <% item.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>
