<div class='row'>
  <div class="header">
    <h1 class='left' id='page-title'><%= header.title -%></h1>
    <h3 class='subheader right'><%= header.subheader -%></h3>
  </div>
</div>
<hr class='header-hr'></hr>

