
<div class="page-header">
<h1>Tumblr</h1>
</div>

<% @tumbles.each do |tumble| -%>
    <% if tumble.type == "photo" -%>
    <p><img src="<%= tumble.photo_url -%>"><%= tumble.photo_caption.html_safe -%></p>
    <% elsif tumble.type == "regular" -%>
    <p><%= tumble.regular_title -%></p>
    <p><%= tumble.regular_body.html_safe -%></p>
    <% end -%>
<% end -%>
