<div class="page-header">
    <h1>Twitter <small class="pull-right">
        <a href="https://twitter.com/intent/follow?original_referer=https%3A%2F%2Ftwitter.com%2Fabout%2Fresources%2Fbuttons&region=follow_link&screen_name=archaicsmiles&source=followbutton&variant=2.0" class="btn btn-primary twitter-follow">Follow Me</a>
    </small>
    </h1>
</div>
<% @tweets.each do |tweet| -%>
    <div class="alert alert-info news">
        <p><%= auto_link(tweet.text) -%></p>
    </div>
<% end -%>
