<%= Header.new(:title => 'News', :subheader => '') -%>

<div class='row'>
  <div class="small-4 columns">
      <%= render :partial => "partials/twitter" -%>
  </div>
  <div class="small-8 columns">
     <%= render :partial => "partials/tumblr" -%>
  </div> 
</div>
