<div class="row">
    <div class="span4">
        <%= render :partial => "partials/twitter" -%>
    </div>
    <div class="span8">
       <%= render :partial => "partials/tumblr" -%>
    </div> 
</div>
