<div class="container-fluid">
    <div class="row-fluid">
        <div class="span2">
            <%= render :partial => "partials/twitter" -%>
        </div>
        <div class="span10">
           <%= render :partial => "partials/tumblr" -%>
        </div> 
    </div>
</div>
