<div class='row'>
  <div class='header'>
    <h1 class='left' id='page-title'>News</h1>
  </div>
</div>
<hr class='hr-header'></hr>

<div class='row'>
  <div class="small-4 columns">
      <%= render :partial => "partials/twitter" -%>
  </div>
  <div class="small-8 columns">
     <%= render :partial => "partials/tumblr" -%>
  </div> 
</div>
