<%= supply.header -%>
<div class="row">
  Available at <%= link_to 'dickblick', supply.referral_url -%>.
</div>

<div class="row" id='supply-description'>
  <%= markdown(supply.description) -%>
</div>
