/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require_self
 *= require bootstrap_and_overrides
*/


// 40 px less than the default
.print-order-label { width: 100px; }


.art-thumbnail {
    min-height:100px;
}

.dt-thinner {
    width: 48%;
}

.dd-thinner {
    margin-left:52%;
}

.darker-bottom {
    border-bottom-color: rgb(202, 202, 202);
}

#new_artwork {
    float:left;
    margin-right: 2em;
}

.remove-button {
}

// 40 px less than the default
.print-order-controls { margin-left: 120px; }

.remove-column {
    width: 1em;
}

h1 .edit-link {
    font-size: 15px; 
    margin-left: .7em;
}

.thumbnail-column {
    width: 85px;
}

.amount-column {
    width: 5em;
}

