/*
 *= require jquery.ui.datepicker
 *= require foundation_and_overrides
 *= require artwork
 *= require schedule
 *= require header
 *= require main
 *= require news
*/

@import 'foundation-icons';

.small-form-container { 
  max-width:20rem;
  padding-right:0.5em;
}

i {
  font-size:2rem;
}

#main-nav li {
  font-variant:small-caps;
}

.button .fi-heart {
  font-size:1rem;
  padding-left:0.5rem;
}

.left-border {
  border-left:1px solid black;
}

.black {
  background-color:#333;
}
