/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
*/

// 40 px less than the default
.print-order-label { width: 100px; }

 a { 
    color: rgb(100, 100,100);
}

.darker-bottom {
    border-bottom-color: rgb(202, 202, 202);
}

.black { color: rgb(0, 0, 0); }

// 40 px less than the default
.print-order-controls { margin-left: 120px; }

.remove-column {
    width: 1em;
}

h1 .edit-link {
    font-size: 15px; 
    margin-left: .7em;
}

.thumbnail-column {
    width: 85px;
}

.amount-column {
    width: 5em;
}

#content {
    padding-top: 4em;
}

#print-tabs {
    margin:0px;
}

#print-tabs div.well {
    box-radius: 0px 0px 4px 4px;
}
