/*
 *= require jquery-ui
 *= require foundation_and_overrides
 *= require artwork
 *= require schedule
 *= require header
 *= require main
 *= require news
 *= require supplies
 *= require pages
*/

@import 'foundation-icons';

.small-form-container { 
  max-width:20rem;
  padding-right:0.5em;
}

// increase width of dropdown so form elements can be seen
#login-dropdown ul {
  width:200px;
}

i {
  font-size:2rem;
}

#main-nav li {
  font-variant:small-caps;
}

.button .fi-heart {
  font-size:1rem;
  padding-left:0.5rem;
}

.left-border {
  border-left:1px solid black;
}

.black {
  background-color:#333;
}
