<%= art_show.header -%>

<div class='row'>
  <dl>
    <dt>Building</dt>
    <dd><%= best_in_place_if art_show.editable?, art_show, :building -%></dd>
    <dt>Address <% if art_show.editable? -%>
                    <a href='#' id='edit-address'>(edit address)</a>
                <% end -%>
    </dt>
    <dd><%= best_in_place_if art_show.editable?, art_show, :address, :display_as => :google_maps_address_link, :activator => '#edit-address' -%></dd>
    <dt>Description</dt>
    <dd><%=  best_in_place_if art_show.editable?, art_show, :description -%></dd>
  </dl>
</div>

